@using PokeBlazor.Shared
<div class="row">
    <h2>Male</h2>
    <div class="ui celled grid">
        @if(SpriteData.HasAnyMaleImages)
        {
            <div class="row">
                @if(SpriteData.HasFront)
                {
                    <div class="eight wide column" onmouseover="@OnMaleFrontMouseOver" onmouseout="@OnMaleFrontMouseOut" >
                        <h3>@(string.IsNullOrEmpty(maleFrontImgTitle) ? "Standard" : maleFrontImgTitle)</h3>
                        <img class="ui fluid image" src="@(string.IsNullOrEmpty(maleFrontImageSrc) ? SpriteData.front_default : maleFrontImageSrc)" />
                    </div>
                }
                @if (SpriteData.HasBack)
                {
                    <div class="eight wide column" onmouseover="@OnMaleBackMouseOver" onmouseout="@OnMaleBackMouseOut">
                        <h3>@(string.IsNullOrEmpty(maleBackImgTitle) ? "Standard" : maleBackImgTitle)</h3>
                        <img class="ui fluid image" src="@(string.IsNullOrEmpty(maleBackImageSrc) ? SpriteData.back_default : maleBackImageSrc)" />
                    </div>
                }
            </div>
        }
        else
        {
            <p>Unable to find any sprites</p>
        }
    </div>
</div>
@if(SpriteData.HasFemaleImages)
{
    <div class="row">
        <h2>Female</h2>
        <div class="ui celled grid">
            <div class="row">
                @if(SpriteData.HasFrontFemale)
                {
                    <div class="eight wide column" onmouseover="@OnFemaleFrontMouseOver" onmouseout="@OnFemaleFrontMouseOut">
                        <h3>@(string.IsNullOrEmpty(femaleFrontImgTitle) ? "Standard" : femaleFrontImgTitle)</h3>
                        <img class="ui fluid image" src="@(string.IsNullOrEmpty(femaleFrontImageSrc) ? SpriteData.front_female : femaleFrontImageSrc)" />
                    </div>
                }
                @if (SpriteData.HasBackFemale)
                {
                    <div class="eight wide column" onmouseover="@OnFemaleBackMouseOver" onmouseout="@OnFemaleBackMouseOut">
                        <h3>@(string.IsNullOrEmpty(femaleBackImgTitle) ? "Standard" : femaleBackImgTitle)</h3>
                        <img class="ui fluid image" src="@(string.IsNullOrEmpty(femaleBackImageSrc) ? SpriteData.back_female : femaleBackImageSrc)" />
                    </div>
                }
            </div>
        </div>
    </div>
}

@functions
{
    [Parameter]
    private PokemonSprite SpriteData { get; set; }

    string maleFrontImgTitle = String.Empty;
    string maleFrontImageSrc = String.Empty;

    string maleBackImageSrc = String.Empty;
    string maleBackImgTitle = String.Empty;

    string femaleFrontImgTitle = String.Empty;
    string femaleFrontImageSrc = String.Empty;

    string femaleBackImgTitle = String.Empty;
    string femaleBackImageSrc = String.Empty;

    void OnMaleFrontMouseOver()
    {
        if (SpriteData.HasFrontShiny)
        {
            maleFrontImgTitle = "Shiny";
            maleFrontImageSrc = SpriteData.front_shiny;
        }
    }

    void OnMaleFrontMouseOut()
    {
        maleFrontImgTitle = "Standard";
        maleFrontImageSrc = SpriteData.front_default;
    }

    void OnMaleBackMouseOver()
    {
        if (SpriteData.HasBackShiny)
        {
            maleBackImgTitle = "Shiny";
            maleBackImageSrc = SpriteData.back_shiny;
        }
    }

    void OnMaleBackMouseOut()
    {
        maleBackImgTitle = "Standard";
        maleBackImageSrc = SpriteData.back_default;
    }

    void OnFemaleFrontMouseOver()
    {
        if (SpriteData.HasFrontShinyFemale)
        {
            femaleFrontImgTitle = "Shiny";
            femaleFrontImageSrc = SpriteData.front_shiny_female;
        }
    }

    void OnFemaleFrontMouseOut()
    {
        femaleFrontImgTitle = "Standard";
        femaleFrontImageSrc = SpriteData.front_female;
    }

    
    void OnFemaleBackMouseOver()
    {
        if (SpriteData.HasBackShinyFemale)
        {
            femaleBackImgTitle = "Shiny";
            femaleBackImageSrc = SpriteData.back_shiny_female;
        }
    }

    void OnFemaleBackMouseOut()
    {
        femaleBackImgTitle = "Standard";
        femaleBackImageSrc = SpriteData.back_female;
    }
}